:root {
  --initial-black: #1F2937;
  --initial-white: #FFFFFF;
  --initial-red: #FF6C2D;
  --initial-grey: #A7A7A7;
  --initial-light-grey: #F1F1F1;
  --initial-orange: #EAB308;
  --hover-orange: #FEC71C;
  --pressed-orange: #CC9500;
  --initial-blue: #2581EB;
  --hover-blue: #439FFF;
  --pressed-blue: #0763CD;
}

@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Jura;
  src: url(./assets/fonts/Jura.ttf)  format("truetype");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

input, textarea, button {
  outline: none;
  resize: none;
}

.base-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;

  .base-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    width: 100%;
    max-width: 1280px;

    @media (max-width: 960px) {
      justify-content: space-between;
    }

    .header__logo-link {
      position: absolute;
      max-width: 9.38vw;
      width: 100%;
      height: auto;
      left: 16px;

      @media (max-width: 960px) {
        position: relative;
        left: 0;
      }
    }

    .header__navigation {
      display: flex;
      align-items: center;
      gap: 1.3vw;

      @media (max-width: 960px) {
        display: none;
      }
    }

    .header__action-wrapper {
      position: absolute;
      display: flex;
      align-items: center;
      gap: 10px;
      right: 16px;

      @media (max-width: 960px) {
        position: relative;
        right: 0;
      }

      .action__shop-button {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        width: 2.08vw;
        height: 2.08vw;
        border: 1px solid var(--initial-white);
        transition: color 0.5s ease;
        position: relative;

        @media (max-width: 960px) {
          width: 40px;
          height: 40px;
        }

        & img {
          width: 20px;
          height: 20px;
          transition: opacity 0.5s ease;
        }

        .initial-icon {
          display: block;
          opacity: 1;
        }

        .hover-icon {
          position: absolute;
          opacity: 0;
        }

        .active-icon {
          position: absolute;
          opacity: 0;
        }

        &:not(.active):hover {
          .initial-icon {
            opacity: 0;
          }

          .hover-icon {
            opacity: 1;
          }
        }

        &.active {
          .initial-icon,
          .hover-icon {
            opacity: 0;
          }

          .active-icon {
            opacity: 1;
          }

          &:hover {
            .active-icon {
              opacity: 1;
            }
          }
        }
      }

      .action__burger-button {
        display: none;

        @media (max-width: 960px) {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          background: none;
          border: 1px solid var(--initial-orange);
          border-radius: 8px;
          width: 38px;
          height: 38px;
          transition: all 0.3s ease;
          position: relative;

          img {
            width: 16px;
            height: 16px;
            transition: opacity 0.3s ease;
          }

          .initial-burger-icon {
            display: block;
            opacity: 1;
          }

          .hover-burger-icon,
          .active-burger-icon {
            position: absolute;
            opacity: 0;
          }

          @media (hover: hover) {
            &:hover {
              background: var(--hover-orange);
              border-color: var(--hover-orange);

              .initial-burger-icon {
                opacity: 0;
              }

              .hover-burger-icon {
                opacity: 1;
              }

              .active-burger-icon {
                opacity: 0;
              }
            }
          }

          &.active {
            background: var(--pressed-orange);
            border-color: var(--pressed-orange);

            .initial-burger-icon,
            .hover-burger-icon {
              opacity: 0;
            }

            .hover-burger-icon {
              opacity: 1;
            }

            &:hover {
              .hover-burger-icon {
                opacity: 1;
                filter: brightness(1.1);
              }
            }
          }
        }
      }
    }
  }

  .navigation__item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 100%;
    padding-bottom: 4px;
    text-decoration: none;
    font-weight: 500;
    color: var(--initial-black);
    transition: color 0.3s ease;

    @media (max-width: 960px) {
      height: max-content;
      width: max-content;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 2px;
      background-color: var(--initial-blue);
      transition: width 0.3s ease, left 0.3s ease;
    }

    &.active {
      color: var(--initial-blue);
    }

    &.active::after {
      left: 0;
      width: 100%;
    }

    @media (hover:hover) {
      &:hover {
        color: var(--hover-blue);
      }
    }
  }

  .action__callback-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--initial-orange);
    color: var(--initial-white);
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    padding: 10px 12px;
    border: none;
    border-radius: 8px;
    transition: .3s;

    @media (max-width: 550px) {
      display: none;
    }

    &.active { background: var(--pressed-orange); }
    &.popup-callback-button { display: flex; }

    @media (hover:hover) {
      &:hover {
        background: var(--hover-orange);
      }
    }
  }

  .base-main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 16px;
    max-width: 1280px;

    @media (max-width: 960px) {
      align-items: flex-start;
    }

    .main__title {
      position: absolute;
      color: var(--initial-black);
      font-family: Jura;
      font-size: clamp(48px, 11.88vw, 152px);
      font-weight: 700;
      line-height: 100%;
      text-align: left;
      text-transform: uppercase;

      @media (max-width: 960px) {
        position: relative;
        font-size: clamp(48px, 15.83vw, 152px);
      }

      @media (max-width: 550px) {
        font-size: clamp(50px, 25.73vw, 1000px);
      }

      &.first {
        top: 85px;
        left: 0;
        z-index: 0;

        @media (max-width: 960px) {
          order: 1;
          top: auto;
          margin-top: 8.85vw;
        }
      }

      &.second {
        top: 185px;
        right: 0;
        z-index: 0;

        @media (max-width: 960px) {
          order: 2;
          top: auto;
        }
      }
    }

    .main__images-wrapper {
      position: relative;
      display: flex;
      width: max-content;
      height: 100%;

      @media (max-width: 960px) {
        position: absolute;
        right: -30vw;
        bottom: 0;
        order: 4;
      }

      @media (max-width: 550px) {
        bottom: -250px;
        right: -150px;
        top: 70vw;
      }

      @media (max-width: 380px) {
        top: auto;
      }

      .image-talk {
        position: absolute;
        width: 120px;
        height: 108px;
        top: 300px;
        left: -50px;
        z-index: 1;

        @media (max-width: 960px) {
          top: 230px;
          width: 12.50vw;
          height: 11.25vw;
          top: 25vw;
          left: -4vw;
        }

        @media (max-width: 550px) {
          bottom: -250px;
          right: -150px;
          width: 64px;
          height: 56px;
          top: 30vw;
        }

        @media (max-width: 380px) {
          top: 120px;
        }
      }

      .image-duck {
        width: 620px;
        height: 620px;
        z-index: 2;
        margin-top: 70px;

        @media (max-width: 960px) {
          margin-top: 0;
          width: 64.58vw;
          height: 64.58vw;
        }

        @media (max-width: 550px) {
          min-width: 343px;
          min-height: 343px;
          width: 100%;
          height: 100%;
        }
      }
    }

    .main__action-wrapper {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      bottom: 250px;
      right: 5.4vw;
      gap: 10px;
      z-index: 2;

      @media (max-width: 960px) {
        position: relative;
        order: 3;
        bottom: auto;
        right: auto;
        margin-top: 30px;
      }

      .action__title {
        color: var(--initial-black);
        font-size: clamp(16px, 0.83vw, 1000px);
        font-weight: 400;
        line-height: 20px;
        text-align: left;

        @media (max-width: 340px) {
          font-size: 14px;
        }
      }

      .action__show-button {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 12px;
        background: var(--initial-blue);
        color: var(--initial-white);
        border-radius: 8px;
        font-size: 15px;
        font-weight: 600;
        line-height: 18px;
        text-align: center;
        border: none;
        transition: .3s;

        &.active { background: var(--pressed-blue); }

        @media (hover:hover) {
          &:hover {
            background: var(--hover-blue);
          }
        }
      }
    }
  }

  .base-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    padding: 0 16px;
    gap: 2.34vw;

    @media (max-width: 960px) {
      display: grid;
      grid-template-columns: repeat(3, auto);
      justify-content: center;
      margin-top: 5.21vw;
      padding: 16px;
    }

    @media (max-width: 550px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 155px;
      gap: 20px;
    }

    .footer__navigation-item {
      display: flex;
      align-items: center;
      color: var(--initial-black);
      font-size: clamp(16px, 0.83vw, 1000px);
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      text-decoration: none;
      gap: 8px;
      transition: color 0.3s ease;
      position: relative;
      z-index: 4;
    }

    .footer__navigation-item .initial-icon,
    .footer__navigation-item .hover-icon {
      transition: opacity 0.3s ease;
    }

    .footer__navigation-item .initial-icon {
      display: block;
    }

    .footer__navigation-item .hover-icon {
      position: absolute;
      left: 0;
      opacity: 0;
    }

    @media (hover: hover) {
      .footer__navigation-item:hover {
        color: var(--hover-blue);
      }

      .footer__navigation-item:hover .initial-icon {
        opacity: 0;
      }

      .footer__navigation-item:hover .hover-icon {
        opacity: 1;
      }
    }
  }

  .base-popup-wrapper {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    &.active {
      visibility: visible;
      opacity: 1;
    }

    .popup-overlay {
      position: fixed;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      top: 0;
      left: 0;
      z-index: 9;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &.active .popup-overlay {
      opacity: 1;
    }

    .popup__form {
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 417px;
      height: 360px;
      background: var(--initial-white);
      padding: 40px;
      z-index: 10;
      border-radius: 20px;
      left: 50%;
      top: -100%;
      transform: translateX(-50%);
      transition: top 0.5s ease, transform 0.5s ease;

      @media (max-width: 550px) {
        width: 90%;
        height: max-content;
        padding: 20px 16px;
      }

      .form__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 15px;

        .content__item {
          display: flex;
          flex-direction: column;
          gap: 5px;

          .item__title {
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
            text-align: left;

            span {
              color: var(--initial-red);
            }
          }

          .item__input {
            color: var(--initial-grey);
            font-size: 14px;
            font-weight: 500;
            line-height: 22px;
            text-align: left;
            border: 1px solid var(--initial-light-grey);
            border-radius: 14px;
            padding: 10px 16px;
            color: var(--initial-black);

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }

            &::placeholder { color: var(--initial-grey); }
          }
        }

        .form__submit-button {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          color: var(--initial-white);
          background: var(--initial-orange);
          font-size: 15px;
          font-weight: 600;
          line-height: 18px;
          border: none;
          border-radius: 8px;
          padding: 10px 12px;
        }
      }

      .form__text {
        margin-top: 20px;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        color: var(--initial-black);

        .text__form-link { color: var(--initial-blue); text-decoration: none; }
      }
    }

    &.active .popup__form {
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:not(.active) .popup__form {
      top: -150%;
      transition: top 0.5s ease, transform 0.5s ease;
    }
  }

  .form__close-button {
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 20px;
    border: none;
    background: none;
    width: 30px;
    height: 30px;

    @media (max-width: 550px) {
      top: 10px;
      right: 10px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .base-menu-popup {
    display: none;

    @media (max-width: 960px) {
      display: flex;
      visibility: hidden;
      opacity: 0;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      transition: opacity 0.3s ease, visibility 0.3s ease;

      &.active {
        visibility: visible;
        opacity: 1;

        .popup__content {
          top: 0;
        }
      }

      .menu-popup-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        z-index: 9;
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      &.active .menu-popup-overlay {
        opacity: 1;
      }

      .popup__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: max-content;
        justify-content: flex-start;
        align-items: center;
        background: var(--initial-white);
        padding: 16px 16px 40px 16px;
        z-index: 10;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        position: fixed;
        left: 0;
        top: -100%;
        transform: translateY(-100%);
        transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 0.3s ease;

        .close-burger-menu {
          top: 20px;
        }

        .menu-popup-header {
          display: flex;
          justify-content: space-between;
          width: 100%;
        }

        .popup__header-navigation {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 45px;
          gap: 20px;
        }
      }

      &.active .popup__content {
        transform: translateY(0);
      }
    }
  }
}